body{
  background-color: #CCCCFF;
	font-size: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
h1
{
	background-color: black;
	color: white;
	margin: 0%;
	text-align: center;
	font-size: 60px;
}


img
{
	float: right;
}