body {
	background-color: #2f3c7e;
	font-size: 20px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

h1 {
	background-color: black;
	color: #fbeaeb;
	margin: 0%;
	text-align: center;
	font-size: 60px;
}

img {
	float: right;
}

div em {
	color: #fbeaeb;
	font-size: 30px;
}

div p {
	color: #fbeaeb;
}

h6 {
	color: #fbeaeb;
}